.git
.github
.idea
.vscode
*.iml
**/target
**/node_modules
**/dist
**/.vite
**/coverage
**/.turbo
docs
bruno
scripts
infra/helm
infra/observability
**/*.md
**/.DS_Store
**/Thumbs.db
**/*.log
**/.env
**/.env.*
